@using HC.Data.ViewModels;
@using HC.Web.Framework.UI.Captcha;
@using HC.Service.Section;
@using HC.Core.CommonMethod;
@using HC.Core.Infrastructure;
@using HC.Service.User;
@using HC.Data.Models
@model UserManageModel
@{
    var pageSize = 20;
    ViewBag.Title = "用户管理";
    Layout = "~/HC.Manage/Views/Shared/mLayoutForAb2.cshtml";

    var userGroups = ViewBag.userGroup as List<HC.Data.Models.UserGroup>;

    //var _iuser = EngineContext.Current.Resolve<IUserService>();
    //var Customer = WorkContext.CurrentCustomer;
    //var curentUser = _iuser.getUserByID(Customer.Id);
    //if(curentUser.UserGroupID==1){
    //}
    //else
    //{
    //    userGroups = userGroups.Where(x => x.UserGroupID != 1).ToList();
    //}
    //e93c9a3e-f012-4334-b08c-917a07bb75c0

   
}

@section headCSS{
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/soldoutsell.css" type="text/css" />
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/soldoutsellAB.css" type="text/css" />
<link rel="stylesheet" href="~/HC.Manage/Content/common/artdialog/ui-dialog.css">
    <style type="text/css">
        #onsalesM .checkedbox {
            height: auto;
            margin-top: 10px;
        }

        #importexcel-window table td {
            text-align: left;
            /*width: 200px;*/
        }

        select {
            width: 158px;
            margin-bottom: 0px;
        }

        .errorTr span {
            color: red;
            font-size: 12px;
        }
    </style>
}
@section headScript{
     <script src="~/HC.Manage/Content/common/artdialog/dialog-plus-min.js"></script>
    }


@*导入产品*@
@{Html.Telerik().Window()
        .Name("importexcel-window")
        .Title("用户--新增/修改")
        .Content(@<text>

            <table style="text-align: right;  margin:0 auto; margin-top: 29px; margin-bottom:20px;">
                <tr class="errorTr">
                    <td colspan="4">
                        <span valfor="RealName"></span>
                        <span valfor="UserName"></span>
                        <span valfor="isEffective"></span>
                        <span valfor="role"></span>
                        <span valfor="Password"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>用户姓名：</span>
                    </th>
                    <td width="200">
                        <input class="hc_nameinput" style="width:150px;" id="RealName" value="" placeholder="输入用户姓名" />
                        <input type="hidden" id="userID" value="-1" />
                    </td>

                    <th>
                        <span>用户账户：</span>
                    </th>
                    <td>
                        <input class="hc_nameinput" style="width:150px;" id="UserName" value="" placeholder="输入用户账户" />
                    </td>
                </tr>

                <tr>
                    <th>
                        <span>是否有效：</span>
                    </th>
                    <td>

                        @{
                            var item2 = new List<SelectListItem>();
                            item2.Add(new SelectListItem() { Text = "请选择", Value = "-1" });
                            item2.Add(new SelectListItem() { Text = "有效", Value = "true" });
                            item2.Add(new SelectListItem() { Text = "无效", Value = "false" });
                        }
                        @Html.DropDownList("isEffective", item2, new { onchange="changselect(this)"})
                    </td>


                    <th>
                        <span>角色：</span>
                    </th>
                    <td>
                        @{
                            var Roles = new List<SelectListItem>();
                            Roles.Add(new SelectListItem() { Text = "请选择", Value = "-1" });
                            foreach (var ugp in userGroups)
                            {
                                Roles.Add(new SelectListItem() { Text = ugp.GroupName, Value = ugp.UserGroupID.ToString() });
                            }
                        }
                        @Html.DropDownList("role", Roles, new { onchange = "changselect(this)" })
                    </td>
                </tr>


                <tr>
                    <th>
                        <span>用户密码：</span>
                    </th>
                    <td>
                        <input type="password" class="hc_nameinput" style="width:150px;" id="Password" value="" placeholder="输入用户密码" />
                    </td>

                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <input type="button" id="AddAristTypeBtn" class="hc_businessFile uploadPic" name="TypeName" value="确认" />
                    </td>
                </tr>
            </table>
        </text>)
        .Width(600)
        .Draggable(true)
        .Modal(true).Effects(x => x.Opacity())
        .Visible(false)
        .Render();
}


<div class="buyerright">
    <div class="sellinggoodslist">
        <div class="sellinggoodsserchnav">
            <div class="hcmoneynav">
                <div class="hche_soldgoods">
                    <i>用户管理</i>
                    USER MANAGE
                </div>
                <div class="hche_soldgoodsimg">
                </div>
                <div class="hche_private">
                    @*特权 ▪ 专享*@
                </div>
            </div>


        </div>

        <div class="salegoodslist">
            @(Html.Telerik().Grid<CxUser>(Model.Users.Data).Name("onsalesM")
            .ToolBar(toolBar => toolBar.Template(
                @<div style="padding: 10px">
                    @*<input type="checkbox" id="selectAll" />全选*@
                    @*<a id="deleteAtrit" class="del_show">删除</a>*@
                    <a id="AddTypeAtrit" class="del_show shopchoose">添加新用户</a>
                </div>))
                       .ClientEvents(events =>
                       events.OnDataBinding("onsaleBinding")
                       .OnDataBound("onsaleBound")
                       .OnRowDataBound("onRowDataBound")
               )
           .Columns(columns =>
                   {
                       columns.Bound(x => x.RealName).Title("姓名").Width(50)
                           .Template(@<text>

                            <div class="goodsdetailed">
                                <p><a href="javascript:;">@item.RealName </a></p>
                            </div>
                        </text>).ClientTemplate("<div class=\"goodsdetailed\"><p><a href=\"javascript:;\"><#= RealName #> </a></p></div>"
                    );
                       columns.Bound(x => x.UserName).Title("账户").Width(100);
                       columns.Bound(x => x.UserPassword).Title("密码").Width(50);
                       columns.Bound(x => x.Address).Title("角色").Width(63).HtmlAttributes(new { @class = "DtdIESeven" });
                       columns.Bound(x => x.Effective).Title("是否有效").Width(50);
                       columns.Bound(x => x.UserID)
                                       .Width(50)
                                       .Template(@<text><span><a href="###" cateid="@item.UserID">修改</a></span><span><a href="###" class="deleteArtistTtype" cateid="@item.UserID">删除</a></span></text>)
                                       .ClientTemplate("<span><a href=\"javascript:void(0)\" onclick=\"alertArtistType(this)\" class=\"aletAtistType\" cateID=\"<#= UserID #>\">修改</a></span><span><a href=\"###\" onclick=\"deleteArtistType(this)\" class=\"deleteArtistTtype\" cateID=\"<#= UserID #>\">删除</a></span>")
                                       .Title("操作");


                   }).NoRecordsTemplate("暂无数据")
.Pageable(seting => seting.Total(Model.Users.Total).PageSize(pageSize).Position(GridPagerPosition.Bottom))
                                                                     .DataBinding(binding => binding.Ajax().Select("ajaxUser", "User")).EnableCustomBinding(true)

            )
        </div>




        <input id="bannerProcess" type="password" value="@ViewBag.token" style="display:none;" />
    </div>
</div>
@section footScript{
    
<script type="text/javascript" src="~/Scripts/processStr.js"></script>
    <script type="text/javascript">
        var flag=true;
        $(document).ready(function () {
            var eleName="onsalesM";
            var totalH= $("#"+eleName).height();
            var headH=$("#"+eleName+" .t-grid-header").height();
            var toolBarH=$("#"+eleName+" .t-toolbar").height();
            var curnetH=totalH-headH-toolBarH;
            var paddH=(curnetH-20)/2;
            $("#"+eleName+" table").prepend("<div class=\"coverWait\" style=\"position: absolute;height:"+curnetH+"px  ;width: 100%;background-color: #E5E5E5;\"><span style=\"text-align: center; display: block; padding-top: "+paddH+"px; color: #777;\">请稍等，数据加载中......</span></div>");



            //扩展trim 支持ie8
            if (!String.prototype.trim) { //判断下浏览器是否自带有trim()方法
                String.prototype.trim = function () {
                    return this.replace(/(^\s*)|(\s*$)/g, "");
                }
            }
            //扩展结束

            //更改成文字
            $(".t-arrow-next").each(function (i, e) {
                $(this).text("下一页");
            });
            $(".t-arrow-prev").each(function (i, e) {
                $(this).text("上一页");
            });
            //更改成文字结束
            $(".t-arrow-first").css({ "display": "none" });
            $(".t-arrow-last").css({ "display": "none" });
            $(".t-refresh").css({ "display": "none" });

            processGridDsiplay("#onsalesM");
            $(".t-widget").show();

            $("#importexcel-window").css({"display":"none"});
            $("#importTemp-window").css({"display":"none"});
            $(".t-close").text("");




            ////消息提示
            //function errorTip(txt) {
            //    var d = dialog({
            //        title: '消息',
            //        content: txt,
            //        cancel: false,
            //        ok: function () { location.reload();},
            //        width: 200,
            //        height: 50,
            //        zIndex: 10020
            //    });
            //    d.showModal();
            //    //setTimeout(function () {
            //    //    d.close().remove();
            //    //}, 3000);
            //}




           
            //用户保存按钮
            @*$("#AddAristTypeBtn").click(function(){
                if(!validateNewUser()){
                    return false;
                }
               
                var addtoken="";
                
                var grid = $('#onsalesM').data('tGrid');
                $.ajax({
                    url: "@(Url.Action("AddUser", "User"))",
                    data: { UserID:$("#userID").val(),UserName:$("#UserName").val(),UserPassword:$("#Password").val(),Effective:$("#isEffective").val(),UserGroupID:$("#role").val(),RealName:$("#RealName").val(),addToken:'@ViewBag.token'},
                    type: 'POST',
                    dataType: 'json',
                    error: function (xhr, status) {
                        alert("错误");
                    },
                    success: function (Data) {
                        if(Data.state=="OK"){
                            var grid = $('#onsalesM').data('tGrid');
                            grid.ajaxRequest();
                            $('#importexcel-window').data('tWindow').center().close();
                            errorTip("操作成功");
                        }else{
                            errorTip(Data.mes);
                           
                        }
                    }
                });
            })*@

            //取消错误
            $("#importexcel-window .hc_nameinput").click(function(){                
                $("span[valfor='"+$(this).attr("id")+"']").text("").hide();
                flag=true;
            })
        });





        var curentUid='@ViewBag.curentUserID';

        //转为汉字的处理 如果ajax请求返回totalcount是0  则不执行 ondatabind
        function processGridDsiplay(ele) {
            var str = $("" + ele + " .t-status-text").text().trim();
            var indexOF = str.indexOf("f");
            var totalDate = str.substr(indexOF + 1).trim();
            var pageSize=@pageSize;
            var totalPage=Math.ceil(totalDate/pageSize);
            $(""+ele+" .t-status-text").text("共"+totalPage+"页");
        }

        function dumps(obj) {
            var result = [];
            $.each(obj, function (key, value) { result.push(value); });

            //var results=[];
            //$.each(obj,function(k,v){results.push( k+"-"+v ) });
            //console.log(results);
            return result;
        }








        function onsaleBinding(e) {

        }

        function onsaleBound(e) {
            //处理分页
            if($(e.currentTarget).find(".t-numeric").children().length>0){
                var ajaxPageCount= $(e.currentTarget).find(".t-numeric").find("a").length+1;
                $(e.currentTarget).find(".t-status-text").text("共"+ajaxPageCount+"页");
            }else{
                $(e.currentTarget).find(".t-status-text").text("共"+0+"页");
            }
            //处理分页

            //移除等待提示层
            var eleName=$(e.delegateTarget).attr("id");
            $("#onsalesM table div.coverWait").remove();
        }

        function onRowDataBound(e){
            var s = e.dataItem;
            var rowItem = e.row;
            var isEffective=s.Effective==true?"有效":"无效";
            $(rowItem.cells[4]).text(isEffective);
            //console.log(rowItem);
            if(s.UserID==1){
                //console.log( $(rowItem).find("td:last").find("span:eq(1)").remove());
                if(curentUid!=1){
                    $(rowItem).find("td:last").find("span:eq(0)").remove();
                    $(rowItem).find("td:last").find("span:eq(0)").remove();
                }else{
                    $(rowItem).find("td:last").find("span:eq(1)").remove();
                }
            }
        }



        //添加用户
        $("#AddTypeAtrit").click(function (e) {
            $("#role").removeAttr("disabled");
            $("#isEffective").removeAttr("disabled");

            $(".errorTr span").hide();
            $("#RealName").val("");
            $("#UserName").val("").removeAttr("readonly");
            $("#Password").val("");

            $("#isEffective").val("-1");
            $("#role").val("-1");
            //$("#role").find("option[text='"+Data.Address+"']").attr("selected",true);
            $("#userID").val(-1);

            e.preventDefault();
            $('#importexcel-window').data('tWindow').center().open();
        });

        //修改用户
        function alertArtistType(e){
            $(".errorTr span").hide();
            var userId=$(e).attr("cateid");

            $.ajax({
                url: "/manage/User/getUser/"+userId,
                type: 'GET',
                dataType: 'json',
                error: function (xhr, status) {
                    alert("通信失败");
                },
                success: function (Data) {
                    $("#RealName").val(Data.RealName);
                    $("#UserName").val(Data.UserName);
                    $("#UserName").attr({"readonly":"readonly"});
                    $("#Password").val(Data.UserPassword);

                    if(Data.Effective){
                        $("#isEffective").val("true");
                    }else{
                        $("#isEffective").val("false");
                    }
                    $("#role").val(Data.UserGroupID);
                    $("#userID").val(Data.UserID);
                }
            })

            if(curentUid==1&&userId==1){
                $("#role").prop("disabled", true);
                $("#isEffective").prop("disabled", true);
            }else{
                $("#role").removeAttr("disabled");
                $("#isEffective").removeAttr("disabled");
            }


            $('#importexcel-window').data('tWindow').center().open();
        }


        //删除用户
        function deleteArtistType(e){
            var userID=$(e).attr("cateid");
            if(confirm("确定要删除该用户吗？")){
                $.ajax({
                    url: "/manage/User/deleteUser/"+userID,
                    type: 'GET',
                    dataType: 'json',
                    error: function (xhr, status) {
                        alert("删除出错");
                    },
                    success: function (Data) {
                        console.log(Data);
                        if(Data=="OK"){
                            var grid = $('#onsalesM').data('tGrid');
                            grid.ajaxRequest();
                        }else{
                            alert(Data);
                        }
                    }
                });
            }            
        }

        //验证添加和修改用户

        function validateNewUser(){
            reQuireVa($("#RealName"));
            reQuireVa($("#UserName"));
            reQuireVa($("#Password"));
            reSelected($("#isEffective"));
            reSelected($("#role"));
            return flag;
        }

        function reQuireVa(e) {
            if (e.val().replace(/(^\s+)|(\s+$)/g, "").replace(/\s/g, "").length == 0) {
                flag = false;
                $("span[valfor='"+e.attr("id")+"']").text(getInputCnName(e.attr("id"))+"必填").show();               
            }
        }

        function reSelected(e){
            if(e.val()=="-1"){
                flag = false;
                $("span[valfor='"+e.attr("id")+"']").text("请选择"+getInputCnName(e.attr("id"))).show();
            }
        }

        function changselect(e){
            if($(e).val()=="-1"){
                flag = false;
                $("span[valfor='"+$(e).attr("id")+"']").text("请选择"+getInputCnName($(e).attr("id"))).show();
            }else{
                $("span[valfor='"+$(e).attr("id")+"']").text("").hide();
                flag=true;
            }
        }


        function getInputCnName(e){
            var reName="";
            switch(e){
                case "RealName":
                    reName="姓名";
                    break;
                case "UserName":
                    reName="账户";
                    break;
                case "Password":
                    reName="密码";
                    break;
                case "isEffective":
                    reName="是否有效";
                    break;
                case "role":
                    reName="角色";
                    break;
            }
            return reName;
        }

    </script>

<script type="text/javascript" src="~/Scripts/bannerSpecial.js"></script>
}