@using HC.Data.Models
@using HC.Service.Section
@using HC.Core.Infrastructure
@{
    Layout = null;
}
@model List<NewsClass>


@*新头部*@


@*<div class="mainnav">
    <ul class="clearfix">
        <li class="pull_li"><a href="/" class="pull_a on">首页</a></li>

        @foreach (var item in Model)
        {
          

            <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">

                @if (item.ClassName.Trim() == "教育教学")
                {
                    <a class="pull_a" href="@Url.Action("Education", "Home")">@Html.Raw(item.ClassName)</a>
                    continue;
                }

                @if (item.ClassName.Trim() == "图书馆")
                {
                    <a class="pull_a" href="@Url.Action("Library", "Home")">@Html.Raw(item.ClassName)</a>
                    continue;
                }



                @if (item.IsSingle == 0)//列表
                {
                    var _InewsSectionService = EngineContext.Current.Resolve<ISectionService>();
                    var subNewsClass = _InewsSectionService.GetSubNewClassByParentNewClass(item.ClassID).Where(x => x.IsShowInNav == 1).OrderBy(x => x.ClassOrder);


                    if (subNewsClass.Count() > 0)
                    {
                        if (subNewsClass.FirstOrDefault().IsSingle == 1)
                        {
                            <a class="pull_a" href="@Url.Action("singlePage", "Information", new { id = subNewsClass.FirstOrDefault().ClassID })">@Html.Raw(item.ClassName)</a>
                        }
                        else
                        {
                            <a class="pull_a" href="@Url.Action("Section", "Information", new {id=subNewsClass.FirstOrDefault().ClassID })">@Html.Raw(item.ClassName)</a>
                        }

                     <!--二级子栏目-->
                        <div class="subnav">
                            @foreach (var subItem in subNewsClass)
                            {
                                if (subItem.IsSingle == 1)
                                {
                                    <span><a href="@Url.Action("singlePage", "Information", new { id = subItem.ClassID })">@Html.Raw(subItem.ClassName)</a></span>
                                }
                                else if(subItem.IsSingle==0)
                                {
                                    <span><a href="@Url.Action("Section", "Information", new { id = subItem.ClassID })">@Html.Raw(subItem.ClassName)</a></span>
                                }
                                else
                                {
                                    <span><a href="@Html.Raw(subItem.linkAddress)">@Html.Raw(subItem.ClassName)</a></span>
                                }
                            }
                        </div>
                    <!--二级子栏目End-->
                    }
                    else
                    {
                         <a class="pull_a" href="@Url.Action("Section", "Information", new {id=item.ClassID })">@Html.Raw(item.ClassName)</a>
                    }

                }
                else if (item.IsSingle == 1)//单页
                {
                      <a class="pull_a" href="@Url.Action("singlePage", "Information", new { id = item.ClassID })">@Html.Raw(item.ClassName)</a>
                }
                else if (item.IsSingle == 2)//外链
                {
                     <a class="pull_a" href="@Html.Raw(item.linkAddress)">@Html.Raw(item.ClassName)</a>
                }
                else
                {

                } 
            </li>

      

        }

    </ul>
</div>*@





<div class="nav-title">
    <div class="school-title">
        <div class="title-log container-fluid">
            <img src="~/images/home/logo.png" />
        </div>
    </div>
    <div class="menu-contain">
        <div class="school-menu container-fluid">
            <div class="nav-menu">
                <ul>
                    <li><span>首页</span></li>

                    <li> 
                    <span>学院概况<i>∨</i></span>
                        <div class="recruit-student">
                            <div class="recruit-inform">
                                <div><img src="~/images/home/recruit1.jpg"></div>
                                <div>学院简介</div>
                                <div><img src="~/images/home/recruit2.jpg"></div>
                                <div>现任领导</div>
                                <div><img src="~/images/home/recruit3.jpg"></div>
                                <div>校园地图</div>                               
                            </div>
                        </div>
                    </li>


                    <li>
                        <span>部门设置<i>∨</i></span>
                        <div class="recruit-student">
                            <div class="recruit-inform">
                                <div><img src="~/images/home/recruit1.jpg"></div>
                                <div>党委办公室</div>
                                <div><img src="~/images/home/recruit2.jpg"></div>
                                <div>学院办公室</div>
                                <div><img src="~/images/home/recruit3.jpg"></div>
                                <div>人力资产管理办公室</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>教务工作部</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>学生工作部</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>培训部</div>

                            </div>
                        </div>
                    </li>


                    <li>
                        <span>学校招生<i>∨</i></span>
                        <div class="recruit-student">
                            <div class="recruit-inform">
                                <div><img src="~/images/home/recruit1.jpg"></div>
                                <div>招生信息</div>
                                <div><img src="~/images/home/recruit2.jpg"></div>
                                <div>专业设置</div>
                                <div><img src="~/images/home/recruit3.jpg"></div>
                                <div>奖助学金</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>来访信息</div>
                            </div>
                        </div>
                    </li>


                                        <li>
            <span>大学文化<i>∨</i></span>
             <div class="recruit-student">
            <div class="recruit-inform">
                <div><img src="~/images/home/recruit1.jpg"></div>
                <div>团委</div>
                <div><img src="~/images/home/recruit2.jpg"></div>
                <div>社团联合会</div>
                <div><img src="~/images/home/recruit3.jpg"></div>
                <div>校友会</div>
                <div><img src="~/images/home/recruit4.jpg"></div>
                <div>学生会</div>
                <div><img src="~/images/home/recruit4.jpg"></div>
                <div>义工服务队</div>
                <div><img src="~/images/home/recruit4.jpg"></div>
                <div>大学生创新创业大赛</div>
                                            </div>
            </div>
        </li>


                    <li>
                        <span>公共服务<i>∨</i></span>
                        <div class="recruit-student">
                            <div class="recruit-inform">
                                <div><img src="~/images/home/recruit1.jpg"></div>
                                <div>新生导航</div>
                                <div><img src="~/images/home/recruit2.jpg"></div>
                                <div>服务指南</div>
                                <div><img src="~/images/home/recruit3.jpg"></div>
                                <div>阅览室</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>常用电话</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>学院校历</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>招聘信息</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>医疗服务</div>
                                <div><img src="~/images/home/recruit4.jpg"></div>
                                <div>下载中心</div>
                            </div>
                            </div>
                    </li>


                    <li>
                        <span>学校动态<i>∨</i></span>
                        <div class="recruit-student">
                            <div class="recruit-inform">
                                <div><img src="~/images/home/recruit1.jpg"></div>
                                <div>学院新闻</div>
                                <div><img src="~/images/home/recruit2.jpg"></div>
                                <div>通知公告</div>
                                <div><img src="~/images/home/recruit3.jpg"></div>
                                <div>两学一做</div>
                                </div>
                            </div>
                    </li>
                    <li><span>就业创业</span></li>
                </ul>
            </div>


           

        </div>
    </div>
</div>




