@using HC.Data.Models
@using HC.Service.Section
@using HC.Core.Infrastructure
@{
    Layout = null;
}
@model List<NewsClass>


@*新头部*@
<div class="mainnav mainnav_b">
    <p class="home"><a href="/">返回主站</a></p>
    <ul class="clearfix">
        <li class="pull_li"><a href="/Home/Education" class="pull_a on">首页</a></li>

        @foreach (var item in Model)
        {           
            <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">
                @if (item.IsSingle == 0)//列表
                {
                    var _InewsSectionService = EngineContext.Current.Resolve<ISectionService>();
                    var subNewsClass = _InewsSectionService.GetSubNewClassByParentNewClass(item.ClassID).Where(x => x.IsShowInNav == 1).OrderBy(x => x.ClassOrder);

                    if (subNewsClass.Count() > 0)
                    {

                        if (subNewsClass.FirstOrDefault().IsSingle == 1)
                        {
                            <a class="pull_a" href="@Url.Action("singleEducationPage", "Information", new { id = subNewsClass.FirstOrDefault().ClassID })">@Html.Raw(item.ClassName)</a>
                        }
                        else
                        {
                            <a class="pull_a" href="@Url.Action("SectionEducation", "Information", new {id=subNewsClass.FirstOrDefault().ClassID })">@Html.Raw(item.ClassName)</a>
                        }

                     <!--二级子栏目-->
                        <div class="subnav">
                            @foreach (var subItem in subNewsClass)
                            {
                                if (subItem.IsSingle == 1)
                                {
                                    <span><a href="@Url.Action("singleEducationPage", "Information", new { id = subItem.ClassID })">@Html.Raw(subItem.ClassName)</a></span>
                                }
                                else if(subItem.IsSingle==0)
                                {
                                    <span><a href="@Url.Action("SectionEducation", "Information", new { id = subItem.ClassID })">@Html.Raw(subItem.ClassName)</a></span>
                                }
                                else
                                {
                                    <span><a href="@subItem.linkAddress">@Html.Raw(subItem.ClassName)</a></span>
                                }
                            }
                        </div>
                    <!--二级子栏目End-->
                    }
                    else
                    {
                        <a class="pull_a" href="@Url.Action("SectionEducation", "Information", new {id=item.ClassID })">@Html.Raw(item.ClassName)</a>
                    }
                }
                else if (item.IsSingle == 1)//单页
                {
                    <a class="pull_a" href="@Url.Action("singleEducationPage", "Information", new { id = item.ClassID })">@Html.Raw(item.ClassName)</a>
                }
                else if (item.IsSingle == 2)//外链
                {
                    <a class="pull_a" href="@item.linkAddress">@Html.Raw(item.ClassName)</a>
                }
                else
                {

                }
            </li>
        }
    </ul>
</div>
