@using HC.Data.Models
@{

    var curentPage = int.Parse(ViewBag.curentPage.ToString());
    var totalCount = int.Parse(ViewBag.TottalCount.ToString());
    var totalPage = Math.Ceiling((float)totalCount / 15);
    var curentNewsClass = ViewData["curentNewsClass"] as NewsClass;

    ViewBag.title = curentNewsClass.ClassName;
  
}

@model List<News>

@section lanmuName{
    <span class="header_c">@curentNewsClass.ClassName</span>
}

<div class="block block2">
    <!--子栏目 -->
    <!--有几个栏目就显示几 最大04 -->
    @*<div class="submenu submenu04">
          <ul>
            <li class="on"><a href="#">栏目名称</a></li>
            <li><a href="#">栏目名称</a></li>
            <li><a href="#">栏目名称</a></li>
            <li><a href="#">栏目名称</a></li>
            <li><a href="#">栏目名称</a></li>
            <li><a href="#">栏目名称</a></li>
          </ul>
          <div class="clr"></div>
        </div>
        <div class="clr10"></div>*@
    <!--栏目内容 -->
    <div class="pic_list">
        <ul>
            @foreach (var item in Model)
            {



                //item.NewsContent = System.Text.RegularExpressions.Regex.Replace(System.Text.RegularExpressions.Regex.Replace(item.NewsContent, "<[^>]+>", ""), "&[^;]+;", "");

                //if (item.NewsContent.Length > 120)
                //{
                //    item.NewsContent = item.NewsContent.Substring(0, 120) + "...";
                //}
                @*<li>
                        <div class="pic"><img src="@item.PicURL"></div>
                        <div class="text">
                            <a href="@Url.Action("news", "Information", new { id = item.NewsID })">@item.NewsTitle</a>
                            <p class="line04">@item.NewsContent</p>
                        </div>
                        <div class="clr"></div>
                    </li>*@



                <li>
                    <div class="bg">
                        <div class="pic"><span class="pic_center"><i></i><a href="@Url.Action("news", "Information", new { id = item.NewsID })"><img src="@item.PicURL"></a></span></div>
                        <div class="title_bg">
                            <p class="title"><a href="@Url.Action("news", "Information", new { id = item.NewsID })"><span>MORE</span>@item.NewsTitle</a></p>
                        </div>
                    </div>
                </li>




            }
        </ul>
        <div class="clr"></div>
    </div>
    <div class="page"><a href="javascript:void(0)" id="loadMore" curentpage="@curentPage">加载更多</a></div>

</div>




@section footScript{
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">

       

        $(document).ready(function () {
            var totalPage = '@totalPage';
            $("#loadMore").click(function () {
                var curentP = $(this).attr("curentPage").trim() * 1;

                if ((curentP + 1) > totalPage) {
                    $("#loadMore").html("没有更多了");
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/Information/SectionMobileAjax/@curentNewsClass.ClassID?page=" + (curentP + 1),
                        dataType: "json",
                        success: function (data) {

                            var newsPic = "";
                            var contentSubStr = "";
                            for (var i = 1; i <= data.length; i++) {




                                if (data[i - 1].PicURL != "") {
                                    newsPic = data[i - 1].PicURL;
                                } else {
                                    newsPic = "";
                                }

                                if (data[i - 1].NewsContent.length > 0) {
                                    contentSubStr = data[i - 1].NewsContent.substr(0, 200);
                                } else {
                                    contentSubStr = data[i - 1].NewsContent;
                                }




                                var appHtml = "<li>" +
            "<div class=\"pic\"><img src=\"" + newsPic + "\"></div>" +
            "<div class=\"text\">" +
              "<a href=\"/Information/news/" + data[i - 1].NewsID + "\">" + data[i - 1].NewsTitle + "</a>" +
              "<p>" + contentSubStr + "</p>" +
            "</div>" +
            "<div class=\"clr\"></div>" +
          "</li>";















                                $(".b_list ul").append(appHtml);
                            }
                            $("#loadMore").attr("curentPage", curentP + 1);
                        }
                    });
                }
            })
        })
    </script>
}




