<div class="buyerleft">
    <div class="hche_leftnav">
        <ul>
            <li class="hche_firstmenu">
                <i class="hche_firstmenuimg"></i>
                <a href="#">店铺设置</a>
            </li>

            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("shopperCertificationO", "Home")">认证资料</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("manageCategory", "Home")">设置店铺经营类目</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="#">店铺装修</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="#">我的车型库</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="#">我的品牌库</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("chargeDetail","Alipay")">烩车币收支管理</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("contact", "home")">联系方式</a>
            </li>

            <li class="hche_firstmenu">
                <i class="hche_firstmenuimg hche_memberinfomimg"></i>
                <a href="javascript;">商品管理</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("releaseSelect", "Product")">发布新商品</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("ManageOnSales", "Product")">已上架商品</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("ManageoffSale", "Product")">已下架商品</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("Myevaluate", "evaluate")">评价管理</a>
            </li>

            <li class="hche_firstmenu">
                <i class="hche_firstmenuimg hche_sericentermims"></i>
                <a href="#">订单管理</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("manageOrders","Order")" class="hec-list">订单列表</a>
                <ul class="hche_licon" style="display:none">
                    <li>
                        <i class="hche_dass">·</i>
                        <a href="@Url.Action("manageOrders","Order")">等待车主付款</a>
                    </li>
                    <li>
                        <i class="hche_dass">·</i>
                        <a href="@Url.Action("manageOrders","Order")">等待车主消费</a>
                    </li>
                    <li>
                        <i class="hche_dass">·</i>
                        <a href="@Url.Action("manageOrders","Order")">等待车主确认</a>
                    </li>
                    <li>
                        <i class="hche_dass">·</i>
                        <a href="@Url.Action("manageOrders","Order")">已完成</a>
                    </li>
                    <li>
                        <i class="hche_dass">·</i>
                        <a href="@Url.Action("manageOrders","Order")">需要评价</a>
                    </li>
                    <li>
                        <i class="hche_dass">·</i>
                        <a href="@Url.Action("manageOrders","Order")">已取消</a>
                    </li>
                </ul>
            </li>

            <li class="hche_firstmenu">
                <i class="hche_firstmenuimg hche_sericentermimg"></i>
                <a href="#">报修·领养管理</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("MyAdopt", "Order")">我领养的</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("Mycheckquotes", "Order")">我参与的</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("NewRepair", "Order")">最新报修</a>
            </li>
            <li class="hche_secondmenu">
                <i class="hche_secondmenuimg"></i>
                <a href="@Url.Action("RepairEvaluate", "Order")">报修评价</a>
            </li>
        </ul>
    </div>
</div>