@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
 
    <meta name="keyword" content="">
    <meta name="renderer" content="webkit">
    @*<meta name="renderer" content="webkit|ie-comp|ie-stand" />*@  
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9;IE=8;">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />*@
    <meta http-equiv="Cache-Control" content="no-transform" />

    @*<meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />*@
    <title>@ViewBag.title</title>
    <!-- 底层框架 -->
    <link rel="stylesheet" id="screen" type="text/css" href="~/HC.Manage/Content/common/css/public-1200.css" />
    <link rel="stylesheet" id="screen" type="text/css" href="~/HC.Manage/Content/common/css/publicv2.css" />
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/hche-sy.css" type="text/css" />
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/sellerAB.css" type="text/css" />
    <!--网站主样式-->
   @RenderSection("headCSS", false)
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/public-ie6.css" />无
    <![endif]-->
    <!--[if lte IE 7]>
         <link rel="stylesheet" href="~/HC.Manage/Content/common/css/ie.css" />
    <![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://libs.useso.com/js/html5shiv/r29/html5.js"></script>
    <![endif]-->
    
    <script src="~/HC.Manage/Content/common/script/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- 搜索js -->
    <script src="~/HC.Manage/Content/common/script/search.js" type="text/javascript" charset="utf-8" defer="defer"></script>
    <script src="~/HC.Manage/Content/common/script/public.min.js" type="text/javascript" charset="utf-8" defer="defer"></script>
    <script src="~/HC.Manage/Content/common/script/seller.js" type="text/javascript" charset="UTF-8" defer="defer"></script>

    <!-- 附加js模块 -->
    @RenderSection("headScript", false)
    <!-- 附加js模块 -->
   

</head>

<body onselectstart="return false">
    <!-- 顶部导航开始 -->
    @Html.Partial("commonHeaderAB")
    <!-- /顶部导航结束 -->


    <div class="container">
        <div class="row">
            <!--左侧列表-->
            @Html.Partial("commonLeftNavAB")
            <!--右侧内容-->
            @RenderBody()
        </div>
    </div>
    <!--页面主题部分结束-->
    <!--页面底部模块-->
    @Html.Partial("commonFooterAB")
    @RenderSection("footScript", false)
</body>
</html>