@{
    Layout = null;
}
@using HCHEv2.Models.Zkz
@model ZkzInfo
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        body {
            font-family: "Arial","宋体"; /*"微软雅黑",*/
            font-size: 16px;
        }

        .center {
            margin: 0 auto;
            width: 670px;
        }

        table {
            width: 665px;
            height: 650px;
            border-collapse: collapse;
            border: 2px solid #333;
        }

        td {
            border: 1px solid #333;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .h {
            text-align: center;
            width: 100%;
            margin: 0 auto;
        }

        .title {
            text-align: center;
            line-height: 30px;
            height: 30px;
        }

        .witdh187 {
            width: 187px;
        }

        .witdh74 {
            width: 74px;
        }

        .witdh140 {
            width: 140px;
        }

        .daima {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: right;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .tdp {
            padding: 10px;
            text-align: left;
        }
    </style>

</head>
<body>
    <h1 class="h"> 西北大学（软件职业技术学院）</h1>
    <h1 class="h"> 2016年综合评价招生 </h1>
    <h1 class="h"> 准 考 证 </h1>
    <div class="center">
        <p class="daima">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报考院校代码：8101</p>
        <table width="655" class="center table" cellspacing="0" cellpadding="0">
            <tr>
                <td width="160" class="title"><strong>准考证号</strong></td>
                <td colspan="3"><b>@Model.ZkzNo</b></td>
                <td width="140" rowspan="6" class="witdh140"><img src="/Images/oc.jpg" width="140" height="180"></td>
            </tr>
            <tr>
                <td width="160" class="title"><strong>高考报名号</strong></td>
                <td colspan="3"><b>@Model.stuInfo.registerNo</b></td>

            </tr>
            <tr>
                <td class="title"><strong>姓   名</strong></td>
                <td width="170"><b>@Model.stuInfo.StudentName</b></td>
                <td width="87" class="title"><strong>性别</strong></td>
                <td width="86"><b>@Model.stuInfo.Sex</b></td>
            </tr>
            <tr>
                <td class="title"><strong>考生科类</strong></td>
                <td><b>@Model.stuInfo.Scategory</b></td>

                <td colspan="2"><b>注：体育（理）和艺术（理）均视为理科，艺术（文）视为文科。</b></td>
            </tr>
            <tr>
                <td class="title"><strong>身份证号</strong></td>
                <td colspan="3"><b>@Model.stuInfo.SelfCardNo</b></td>
            </tr>
            <tr>
                <td class="title"><strong>考点名称</strong></td>
                <td colspan="3"><b>@Model.ExamPlace</b></td>
            </tr>
            <tr>
                <td class="title"><strong>考 场 号</strong></td>
                <td colspan="4"><b>@Model.ExamNo</b></td>
            </tr>
            <tr>
                <td class="title"><strong>教室号</strong></td>
                <td><b>@Model.RoomNo</b></td>
                <td class="title"><strong>座位号</strong></td>
                <td colspan="2"><b>@Model.SiteNo</b></td>
            </tr>
            <tr>
                <td class="title">
                    <strong>考试时间及科目</strong>
                </td>
                <td colspan="4">
                    <h3><b>@Model.ExamTime</b></h3>
                    <p style="font-size:14px;"><b>（@Model.SubjectAndTime）</b></p>
                </td>
            <tr>
                <td colspan="5" style="text-align:inherit;" class="tdp">
                    <p><strong>考生注意事项：</strong></p>
                    <p><b><span>1.</span>考生必须带齐身份证、准考证方可进入考场；</b></p>
                    <p><b><span>2.</span>考生可备橡皮、2B铅笔、黑色字迹的钢笔，签字笔；</b></p>
                    <p><b><span>3.</span>严禁将手机、计算机等电子设备等带入考场；</b></p>
                    <p><b><span>4.</span>考试前30分钟可进入考场；考试开始30分钟后不得入场，考试期间不得提前交卷、退场；</b></p>
                    <p><b><span>5.</span>严禁将答题卡，题本、试卷、草稿纸等带离考场；</b></p>
                    <p><b><span>6.</span>考生必须遵守考场规则，若有作弊行为将取消考试、录取资格；</b></p>
                    <p><b><span>7.</span>录取结果将于4月初公布，我们会打电话通知考生，被我校预录取的考生可自行在学院网站上下载并打印预录取通知书</b></p>
                    <p><b>学院网站：http://soft.nwu.edu.cn    咨询电话：029-88363633、88363638</b></p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

