@{
    Layout = null;
    var StypeSelects = new List<SelectListItem>();
    StypeSelects.Add(new SelectListItem() { Text = "请选择类型", Value = "", Selected = true });
    StypeSelects.Add(new SelectListItem() { Text = "普通高中生", Value = "普通高中生" });
    StypeSelects.Add(new SelectListItem() { Text = "三校生", Value = "三校生" });


    var scategorySelect = new List<SelectListItem>();
    scategorySelect.Add(new SelectListItem() { Text = "请选择类科别", Value = "", Selected = true });
    scategorySelect.Add(new SelectListItem() { Text = "理科", Value = "理科" });
    scategorySelect.Add(new SelectListItem() { Text = "文科", Value = "文科" });
    scategorySelect.Add(new SelectListItem() { Text = "艺术", Value = "艺术" });



    var sfromSelect = new List<SelectListItem>();
    sfromSelect.Add(new SelectListItem() { Text = "请选择生源地", Value = "", Selected = true });
    sfromSelect.Add(new SelectListItem() { Text = "西安市", Value = "西安市" });
    sfromSelect.Add(new SelectListItem() { Text = "铜川市", Value = "铜川市" });
    sfromSelect.Add(new SelectListItem() { Text = "宝鸡市", Value = "宝鸡市" });
    sfromSelect.Add(new SelectListItem() { Text = "咸阳市", Value = "咸阳市" });
    sfromSelect.Add(new SelectListItem() { Text = "渭南市", Value = "渭南市" });
    sfromSelect.Add(new SelectListItem() { Text = "榆林市", Value = "榆林市" });
    sfromSelect.Add(new SelectListItem() { Text = "延安市", Value = "延安市" });
    sfromSelect.Add(new SelectListItem() { Text = "汉中市", Value = "汉中市" });
    sfromSelect.Add(new SelectListItem() { Text = "安康市", Value = "安康市" });
    sfromSelect.Add(new SelectListItem() { Text = "商洛市", Value = "商洛市" });
    sfromSelect.Add(new SelectListItem() { Text = "杨凌示范区", Value = "杨凌示范区" });



    var majorSelect = new List<SelectListItem>();
    majorSelect.Add(new SelectListItem() { Text = "请选择专业", Value = "", Selected = true });
    majorSelect.Add(new SelectListItem() { Text = "汽车技术服务与营销", Value = "汽车技术服务与营销" });
    majorSelect.Add(new SelectListItem() { Text = "金融管理与实务", Value = "金融管理与实务" });
    majorSelect.Add(new SelectListItem() { Text = "会计与审计", Value = "会计与审计" });
    majorSelect.Add(new SelectListItem() { Text = "电子商务", Value = "电子商务" });
    
    //对于未上传图片的验证
    var errorKeys = ViewData.ModelState.Keys.ToList();
    bool noPhote = false;
    
    if (errorKeys.Contains("noPhoto"))
    {
        noPhote = true;
    }
    
    
}
@using HCHEv2.Models.stuRegist
@model StuRegistInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StuRegister</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>



    @*@{
            var keys = ViewData.ModelState.Keys.ToList();
            foreach (var key in keys)
            {
                var errors = ViewData.ModelState[key].Errors.ToList();
                if (errors.Count > 0)
                {
                    foreach (var error in errors)
                    {
                        <span> @error.ErrorMessage </span>
                    }
                }
            }
        }*@


    @if (ViewBag.AddResult)
    {
        <div style="width:1024px; margin:0 auto; text-align:center;">您已成功申请,请与指定日期在本站下载和打印准考证。</div>
    }
    else
    {
        if (noPhote)
        {
            <div>@ViewData.ModelState["noPhoto"].Errors.FirstOrDefault().ErrorMessage</div>
        }

        using (Html.BeginForm("StuRegister", "EnrolSysStu", FormMethod.Post, new { @autocomplete = "off", @class = "registerform", @enctype = "multipart/form-data" }))
        {
            <div>
                @Html.AntiForgeryToken()


                <p>
                    <span>学生姓名：</span> @Html.TextBoxFor(x => x.StudentName)
                    @Html.ValidationMessageFor(x => x.StudentName)
                </p>


                <p>
                    <span>学生性别：</span>
                    @Html.RadioButtonFor(x => x.Sex, "男")<span>男</span>
                    @Html.RadioButtonFor(x => x.Sex, "女")<span>女</span>
                    @Html.ValidationMessageFor(x => x.Sex)
                </p>



                <p>
                    <span>学生类型：</span>@Html.DropDownListFor(x => x.Stype, StypeSelects)
                    @Html.ValidationMessageFor(x => x.Stype)
                </p>



                <p>
                    <span>科别：</span>@Html.DropDownListFor(x => x.Scategory, scategorySelect)
                    @Html.ValidationMessageFor(x => x.Scategory)
                </p>



                <p>
                    <span>生源地：</span>@Html.DropDownListFor(x => x.Sfrom, sfromSelect)
                    @Html.ValidationMessageFor(x => x.Sfrom)
                </p>



                <p>
                    <span>学校名称：</span>@Html.TextBoxFor(x => x.SchoolName)
                    @Html.ValidationMessageFor(x => x.SchoolName)
                </p>



                <p>
                    <span>身份证号：</span> @Html.TextBoxFor(x => x.SelfCardNo)
                    @Html.ValidationMessageFor(x => x.SelfCardNo)
                </p>



                <p>
                    <span>高考证号：</span> @Html.TextBoxFor(x => x.registerNo)
                    @Html.ValidationMessageFor(x => x.registerNo)
                </p>




                <p>
                    <span>手机号：</span>@Html.TextBoxFor(x => x.SeflPhone)
                    @Html.ValidationMessageFor(x => x.SeflPhone)
                </p>



                <p>
                    <span>父亲手机号：</span>@Html.TextBoxFor(x => x.FatherPhone)
                    @Html.ValidationMessageFor(x => x.FatherPhone)
                </p>



                <p>
                    <span>母亲手机号：</span>@Html.TextBoxFor(x => x.MotherPhone)
                    @Html.ValidationMessageFor(x => x.MotherPhone)
                </p>



                <p>
                    <span>固话号：</span>@Html.TextBoxFor(x => x.TelNum)
                    @Html.ValidationMessageFor(x => x.TelNum)
                </p>



                <p>
                    <span>专业：</span>@Html.DropDownListFor(x => x.major, majorSelect)
                    @Html.ValidationMessageFor(x => x.major)
                </p>



                <p>
                    <span>邮寄地址：</span>@Html.TextBoxFor(x => x.SendAddress)
                    @Html.ValidationMessageFor(x => x.SendAddress)
                </p>



                <p>
                    <span>邮编：</span>@Html.TextBoxFor(x => x.ZipCode)
                    @Html.ValidationMessageFor(x => x.ZipCode)
                </p>




                <p>
                    <span>收件人姓名：</span>@Html.TextBoxFor(x => x.ReceiveName)
                    @Html.ValidationMessageFor(x => x.ReceiveName)
                </p>



                <p>
                    <span>收件人手机号：</span>@Html.TextBoxFor(x => x.ReceivePhone)
                    @Html.ValidationMessageFor(x => x.ReceivePhone)
                </p>



                <p><span>本人1寸照片：</span><input name="Sphoto" type="file" /></p>

                <input type="submit" value="提交" />
            </div>
        }
    }


    <script type="text/javascript">

        document.onkeydown = function (e) {
            e = window.event || e;
            var keycode = e.keyCode || e.which;
            if (e.ctrlKey || e.altKey || e.shiftKey
            || keycode >= 112 && keycode <= 123) {
                if (window.event) {// ie
                    try { e.keyCode = 0; } catch (e) { }                 
                    e.returnValue = false;
                    e.preventDefault();
                } else {// ff

                    e.preventDefault();
                }
            }
        }

        



        document.oncontextmenu = function (e) {
            return false;
        }
    </script>
</body>
</html>
