@{
    Layout = null;
    var i = 0;

}
@using HC.Service.Section
@using HC.Core.Infrastructure


@model List<HC.Data.Models.NewsClass>



<ul>
    @foreach (var nClass in Model)
    {
        if (nClass.IsSingle == 1)//单页
        {
            if (ViewBag.curentClassId == nClass.ClassID)//当前栏目
            {
                <li class="big-change">
                    <div><a href="@Url.Action("singlePage", "Information", new { id = nClass.ClassID })"><i class="big-imgs"></i><span>@Html.Raw(nClass.ClassName)</span></a></div>
                </li>

            }
            else
            {
                <li>
                    <div><a href="@Url.Action("singlePage", "Information", new { id = nClass.ClassID })"><i class="big-imgs"></i><span>@Html.Raw(nClass.ClassName)</span></a></div>
                </li>

            }
        }
        else if (nClass.IsSingle == 0)//列表
        {
            var _IsectionService = EngineContext.Current.Resolve<ISectionService>();
            var subSection = _IsectionService.GetSubNewClassByParentNewClass(nClass.ClassID);


            if (subSection.Count > 0)//有子栏目
            {
                i++;



                <li>
                    
                    <div><a href="javascript:;"><i class="big-imgs"></i><span>@Html.Raw(nClass.ClassName)</span></a></div>
                    <ul class="menuShow">
                        @foreach (var sub in subSection)
                        {
                            if (sub.IsSingle == 0)
                            {

                                @*<li class="removeLine small-change"><a href="javascript:;"><em class="small-imgs"></em><span>软件系</span></a></li>*@



                                <li class="removeLine"><a href="@Url.Action("Section", "Information", new { id = sub.ClassID })"><em class="small-imgs"></em><span>@Html.Raw(sub.ClassName)</span></a></li>
                            }
                            else
                            {
                                <li class="removeLine"><a href="@Url.Action("singlePage", "Information", new { id = sub.ClassID })"><em class="small-imgs"></em><span>@Html.Raw(sub.ClassName)</span></a></li>
                            }
                        }
                    </ul>
                </li>






            }
            else//无子栏目
            {
                if (ViewBag.curentClassId == nClass.ClassID)//当前栏目
                {
                    <li class="big-change">
                        <div><a href="@Url.Action("Section", "Information", new { id = nClass.ClassID })"><i class="big-imgs"></i><span>@Html.Raw(nClass.ClassName)</span></a></div>
                    </li>

                }
                else
                {
                    <li>
                        <div><a href="@Url.Action("Section", "Information", new { id = nClass.ClassID })"><i class="big-imgs"></i><span>@Html.Raw(nClass.ClassName)</span></a></div>
                    </li>
                }
            }
        }
        else if (nClass.IsSingle == 2)//外链
        {
            <li>
                <div><a @nClass.linkAddress><i class="big-imgs"></i><span>@Html.Raw(nClass.ClassName)</span></a></div>
            </li>
        }
        else
        {

        }

    }
</ul>
