@using HC.Data.Models;
@{
    
    Layout = "~/Views/Shared/_LayoutLibrary.cshtml";

    var curentPage = int.Parse(ViewBag.curentPage.ToString());
    var totalCount = int.Parse(ViewBag.TottalCount.ToString());
    var totalPage = int.Parse(Math.Ceiling((float)totalCount / 15).ToString());
    var curentNewsClass = ViewData["curentNewsClass"] as NewsClass;

    ViewBag.Title = "图书馆-" + Html.Raw(curentNewsClass.ClassName);
    
    News hotNews = null;
    if (ViewData["hotNews"] != null)
    {
        hotNews = ViewData["hotNews"] as News;
    }

    int i = 1;
}


@model List<HC.Data.Models.News>
<div class="block block_bg">
    <div class="area_l">
        <div class="leftnav">
            <div class="leftnav2">

                <div class="leftnav_title"><b>@Html.Raw(ViewBag.paentclassName)</b><span>SCHOOL NEWS</span> </div>
                <div class="leftnav_bg">
                    @{Html.RenderAction("LeftNav", "Information", new { id = curentNewsClass.ParentID, curenId = curentNewsClass.ClassID, viewName = "Library" });}
                </div>
            </div>
        </div>
        <div class="clr20"></div>
        <script type="text/javascript" src="/scripts/SpryCollapsiblePanel.js"></script>
        <div class="column_left_01">
            <div class="column_t"><p class="column_title">热点新闻</p></div>
            <div class="column_c">
                <div class="left_01">
                    @{Html.RenderAction("leftNewsDelivery", "Information");}
                </div>
            </div>
        </div>
    </div>


    <div class="area_r">
        <!--当前位置 -->
        <div class="crumb">
            <div class="position">
                <a href="/" title="首页" class="home"></a>
                <p>
                    <a href="/">首页</a>
                    @Html.Raw(ViewData["nav"].ToString())
                </p>
            </div>
            <div class="title"><p>@Html.Raw(curentNewsClass.ClassName)</p></div>
            <div class="clr"></div>
        </div>


        <!--热点新闻-->
        @if (hotNews != null)
        {
            <div class="news_pic clearfix">
                <div class="pic"><a href="@Url.Action("newsLibrary", "Information", new { id = hotNews.NewsID })"><img src="@hotNews.PicURL"></a></div>
                <div class="title_bg">
                    <div class="time">@hotNews.CreatTime.ToString("yyyy-MM-dd")</div>
                    <div class="title"><a href="@Url.Action("newsLibrary", "Information", new { id = hotNews.NewsID })">@hotNews.NewsTitle </a></div>

                    @{
            var finallText = System.Text.RegularExpressions.Regex.Replace(System.Text.RegularExpressions.Regex.Replace(HttpUtility.HtmlDecode(hotNews.NewsContent), "<[^>]+>", ""), "&[^;]+;", "");

            if (finallText.Length > 201)
            {
                <div class="sum">@Html.Raw(finallText.Substring(0, 200))</div>

            }
            else
            {
                <div class="sum">@Html.Raw(finallText)</div>
            }
                    }

                </div>
            </div>
        }
        <!--热点新闻End-->
        <!--网站内容 -->
        <div class="news_list">
            <ul>

                @foreach (var nes in Model)
                {
                    <li><span class="time">@nes.CreatTime.ToString("yyyy-MM-dd")</span><a href="@Url.Action("newsLibrary", "Information", new { id = nes.NewsID })">@nes.NewsTitle</a></li>
                    if (i % 5 == 0)
                    {
                        <li class="x"></li>
                    }
                    i++;
                }
            </ul>
            <!--分页 -->
            <div class="page">

                @if (totalPage > 1)
                {

                    int prePage = 1;
                    int nextPage = totalPage;
                    if (curentPage > 1)
                    {
                        prePage = curentPage - 1;
                    }

                    if (curentPage < totalPage)
                    {
                        nextPage = curentPage + 1;
                    }
                    
                    
                    <span class="a1">
                        <a href="/Information/SectionLibrary/@curentNewsClass.ClassID"> &lt;&lt;</a><!--第一页-->
                        <a href="/Information/SectionLibrary/@curentNewsClass.ClassID/@prePage"> &lt;</a><!--上一页-->
                        @if (totalPage <= 5)
                        {
                            for (int j = 1; j <= totalPage; j++)
                            {
                                if (curentPage == j)
                                {
                                    <span>@curentPage</span>
                                }
                                else
                                {
                                    <a href="/Information/SectionLibrary/@curentNewsClass.ClassID/@j">@j</a>
                                }
                            }

                        }
                        else
                        {
                            if (curentPage <= 3)
                            {
                                for (int j = 1; j <= 5; j++)
                                {
                                    if (curentPage == j)
                                    {
                                        <span>@curentPage</span>
                                    }
                                    else
                                    {
                                        <a href="/Information/SectionLibrary/@curentNewsClass.ClassID/@j">@j</a>
                                    }
                                }
                            }
                            else
                            {
                                if (totalPage - curentPage < 2)
                                {
                                    for (var p = curentPage - 2 + (totalPage - curentPage - 2); p <= totalPage; p++)
                                    {
                                        if (curentPage == p)
                                        {
                                            <span>@curentPage</span>
                                        }
                                        else
                                        {
                                            <a href="/Information/SectionLibrary/@curentNewsClass.ClassID/@p">@p</a>
                                        }
                                    }
                                }
                                else
                                {
                                    for (var k = curentPage - 2; k <= curentPage + 2; k++)
                                    {
                                        if (curentPage == k)
                                        {
                                            <span>@curentPage</span>
                                        }
                                        else
                                        {
                                            <a href="/Information/SectionLibrary/@curentNewsClass.ClassID/@k">@k</a>
                                        }
                                    }
                                }
                            }
                        }
                        <a href="/Information/SectionLibrary/@curentNewsClass.ClassID/@nextPage">&gt;</a><!--下一页-->
                        <a href="/Information/SectionLibrary/@curentNewsClass.ClassID/@totalPage">&gt;&gt;</a><!--末页-->
                    </span>
                }
            </div>

        </div>
    </div>
    <div class="clr"></div>
</div>